[Unit]
Description=ufi display util service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /opt/ufi-display/server.py
WorkingDirectory=/opt/ufi-display
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
